Deep Learning with Keras and Tensorflow/fruits-360-original-size/*
Deep Learning with Keras and Tensorflow/o-vs-r-split/*

Introduction to Neural Networks and PyTorch/img/*
Introduction to Neural Networks and PyTorch/data/**
Deep learning with pytorch/data/** 
Deep learning with pytorch/.fashion/**